{% extends 'layout.html' %}

{% block body%}
<div class="text-box">
    <h1> Welcome to Pizza Factory</h1>
</div>
<div class="text">
    <h1>We strive every day to gather the freshest ingredients as well as the best service as possible.
        Over the last 25 years we have been servicing the community as well as feeding the homeless when
        we have left over food. 
    </h1>
<div class="company-info">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/46/f3/c8/pleasing-decor-inside.jpg" style="width: 750px;">
</div>
<div style="margin: 0 auto; text-align: center">
    <a href="menu.html" class="button">Order Now</a>
</div>
{% endblock %}
