<!DOCTYPE html>
<html>
    <head> 
        <meta name = "viewport" content = "width = deice-width, initial-scale = 1.0">
	<link rel= "shortcut icon" type="x-icon" href="pizzaSliceLogo.jpg">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap" rel="stylesheet">
        <title>Menu</title>
    </head>

    <body> 
        <section class = "header">
            <nav>
		<div class="logo"> 
		<h1> Logo </h1>
		</div>

                <div class="nav-links">
                <ul><a href="PizzaFactory.html">Home</a></ul>
                <ul><a href="Menu.html">Menu</a></ul>
                <ul><a href="AboutUs.html">About Us</a></ul>
                <ul><a href="ContactUs.html"> Contact </a></ul>
                </div>
            </nav>
            {% block body %} {% endblock %} 
        </section>
    </body>
</html>
