{% extends 'layout.html' %}

{% block body%}

                <div class ="text-box">
                    <h1> Current Offerings </h1>
                </div>
                <div class ="row">
                    <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Peperoni Pizza</h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                    <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Cheese Pizza</h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                  <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Margharita Pizza</h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                </div>
               <div class ="row">
                    <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Build Your Own</h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                    <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Chicken Wings </h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                  <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                    <h4> Bread Sticks </h4>
                    <p>Starting at $12.99</p>  
                    <a href="Customization.html">Add to Cart</a>
                    </ul>            
              </div>
               <div class ="row">
                     <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Lukewarm Salad </h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                    <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4>Baked Zitti</h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>
                  <ul>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcfxKAwaowte-ewQV23SpKUCC-nc9dABAiubGk3BUM2grAW1-9f9k5NSthNDsk0qSMbw&usqp=CAU">
                      <h4> Cookie Pizza</h4>
                      <p>Starting at $12.99</p>
                      <a href="Customization.html">Add to Cart</a>
                    </ul>            
              </div>
{% endblock %}
